<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Pop-market</h3>
        <p align="center"><strong>Pop-market é um projeto de controle de vendas simples em estado inicial. <a target="blank" href="https://github.com/gabebarbosa/Pop-market"><i class="fa fa-github" aria-hidden="true"></i></a></strong></p><hr>
        <p><strong>Objetivo: </strong>Um controle simples das vendas ... </p><hr>
        <p>Funcionalidades sendo implementadas no status atual do projeto:</p>
        <ul>
          <li><i class="fa fa-suitcase label-tema" aria-hidden="true"></i> Cadastro de produtos</li>
          <li><i class="fa fa-id-card label-tema" aria-hidden="true"></i> Cadastro de clientes</li>
          <li><i class="fa fa-cart-arrow-down label-tema" aria-hidden="true"></i> Compras</li>
          <li><i class="fa fa-money label-tema" aria-hidden="true"></i> Vendas</li>
        </ul>
        <hr>
        <p><%= button_to " Começar a usar!", new_user_path, :method => "get", class: 'btn btn-default btn-xs fa fa-user-plus' %></p>
      </div>
    </div>
  </div>
</div>  